In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/sample_data.csv', index_col=0)[['state', 'food']].iloc[:4]

# Trying to reverse a pandas columns?

* It won't work due to automatic alignment of the index
* Use `.values` to get a numpy array, which as no index

In [3]:
df

         state   food
Jane        NY  Steak
Niko        TX   Lamb
Aaron       FL  Mango
Penelope    AL  Apple

## Doesn't work due to automatic alignment of the index

In [4]:
df['food_reverse'] = df['food'][::-1]
df

         state   food food_reverse
Jane        NY  Steak        Steak
Niko        TX   Lamb         Lamb
Aaron       FL  Mango        Mango
Penelope    AL  Apple        Apple

## Extract numpy array, which has no index!

In [5]:
df['food_reverse2'] = df['food'].values[::-1]
df

         state   food food_reverse food_reverse2
Jane        NY  Steak        Steak         Apple
Niko        TX   Lamb         Lamb         Mango
Aaron       FL  Mango        Mango          Lamb
Penelope    AL  Apple        Apple         Steak